@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease all;
}

.middle-page-svg-container {
  height: 200px;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.middle-page-svg {
  position: absolute;
  left: 5%;
  z-index: 10;
  width: 280px;
  height: 250px;
}
.middle-page-side-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  position: relative;
  padding: 7px;
  left: 30px;
}
.middle-page-side-title h1 {
  font-size: 20px;
  width: 50%;
}

@media (min-width: 780px) {
  .middle-page-side-title {
    padding: 30px;
  }
  .middle-page-svg {
    width: 300px;
    height: 280px;
  }
}

@media (min-width: 1024px) {
  .middle-page-side-title {
    padding: 40px;
  }
  .middle-page-svg {
    width: 350px;
    height: 300px;
  }
}
