.geolocation{
    height: 850px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BDD17F;
}

.geolocation__app{
    width: 60%;
    height: 500px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #719663 !important;

}

.textH1{
    font-size: 20px !important;
    color: white !important;
    font-weight: 600 !important;
    letter-spacing: 2px !important;
}

.happyimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px !important;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

.location{
    color: white;
}

.btn{
    border: none !important;
    outline: none !important;
    padding: 10px 20px !important;
    margin-left:30px !important;
    margin-top: 20px !important;
    background-color: rgb(63, 93, 160) !important;
}

.location{
    width: 400px;
    height: 40%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke !important;
}